<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>JWPlayer Challenge</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
  </head>
  <body class="layout">
    <nav class="header">
      <img class="header__image" src="images/logo.svg" alt="Streaming Media">
    </nav>
    <div class="spacer"></div>
    <%- include('partials/carouselList.ejs', { data: data.playlist }) %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="../javascript/index.js"></script>
    <!--<script type="text/javascript" src="../javascript/modernizer.js"></script>-->
    <!--<script type="text/javascript" src="../javascript/flex-carousel.js"></script>-->
  </body>
</html>
